# Python
__pycache__/
*.py[cod]
.python_history

# Environments
*venv/

# VIM
*.swo
*.swp
.vim*

# Django
media/
*settings.py
static/

# Vagrant
.vagrant

# Bash
.bash_history
.cache
.local

# Applications
.mysql_history
.pylint.d/
